# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Env / secrets
.env
.env.*
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
